@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(237, 235, 235);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(241, 238, 238);

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
